html,body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#title {
    text-align: center;
    font-size: 3rem;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

#navbarList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 25%;
    font-size: 1.3rem;
    font-weight: light;
}

#labelContainer {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
    font-size: 1.2rem;
}

#overallGradeContent{
    margin: 10px 15%;
}

#formContainer {
    border: 1px solid white;
}

.category-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.category:nth-child(2n), .category:nth-child(3n){
    display: flex;
    justify-content: center;
}

.category:nth-child(2n) input, .category:nth-child(3n) input{
    width: 50%;
}

#addCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 0 10px;
    border: 1px solid;
    height: 30px;
}

#addTitle {
    font-size: 1.2em;
}

#submitBtn {
    display: flex;
    margin: 5% auto;
    font-size: 0.95em;
    padding: 10px;
    border-radius: 15px;
}

label,input{
    display: block;
  }
